body {
  margin: 0;
  font-family: Roboto, arial;
  padding-bottom: 3000px;
  padding-top: 100px;
  background: linear-gradient(123deg, rgb(228, 231, 229), #ffe6ef);
}
p {
  margin: 0;
}
main {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
}
/*pháº§n navbar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;
  z-index: 1000;
  background: #25522e;
  transition: 0.3s ease;
}

.logo {
  width: 50px;
  border-radius: 50%;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .option {
  text-decoration: none;
  font-weight: bold;
  color: #ede8ec;
  margin-right: 60px;
  transition: 0.3s ease;
}
.navbar .option:hover {
  color: #7fb591;
}
nav li {
  padding: 8px;
}

.search-div {
  display: flex;
  align-items: center;
}
.search-div input {
  padding: 8px 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}
.search-div button img {
  width: 22px;
  filter: invert(100%);
}
.search-div button {
  padding: 3.4px 12px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #7fb591;
  cursor: pointer;
  transition: 0.3s ease;
}
.search-div button:hover {
  background-color: #66a87c;
}
.search-div button:active {
  background-color: #327438;
}
.gioi-thieu-nav {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: #ede8ec;
  transition: 0.2s ease;
}
.gioi-thieu-nav:hover .gioi-thieu-dropdown {
  opacity: 1;
  pointer-events: auto;
}
.gioi-thieu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #44624a;
  border-radius: 8px;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
}
.gioi-thieu-dropdown a {
  padding: 8px 16px;
  color: #cfcccf;
  white-space: nowrap;
  text-decoration: none;
}
.gioi-thieu-dropdown a:hover {
  background-color: #55775c;
  color: #000000;
}
.dropdown-one {
  border-radius: 8px 8px 0 0;
}
.dropdown-two {
  border-radius: 0 0 8px 8px;
}
/* member section */
.general-member {
  padding-bottom: 100px;
}
.thanh-vien-title {
  font-size: 50px;
  font-family: "Playfair Display", serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 150px;
}
.introduce-character {
  max-width: 1262px;
  height: 400px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 35px;
}
.introduce-background-an {
  background-image: linear-gradient(
      rgba(111, 116, 111, 0.5),
      rgba(136, 136, 136, 0.2)
    ),
    url("../photo/an-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 35px 35px 0px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.introduce-background-hao {
  background-image: linear-gradient(
      rgba(255, 151, 151, 0.5),
      rgba(80, 80, 80, 0.192)
    ),
    url("../photo/hao-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 35px 35px 0px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.introduce-background-my {
  background-image: linear-gradient(
      rgba(238, 151, 255, 0.5),
      rgba(136, 136, 136, 0.2)
    ),
    url("../photo/my-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 35px 35px 0px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.introduce-background-trang {
  background-image: linear-gradient(
      rgba(141, 103, 53, 0.5),
      rgba(136, 136, 136, 0.2)
    ),
    url("../photo/trang-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 35px 35px 0px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.introduce-background-tran {
  background-image: linear-gradient(
      rgba(167, 151, 255, 0.5),
      rgba(136, 136, 136, 0.2)
    ),
    url("../photo/tran-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: 1;
  border-radius: 35px 35px 0px 0px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.character-photo-div {
  position: absolute;
  bottom: 0px;
  right: 50px;
  z-index: 3;
}
.character-photo-div img {
  display: block;
  filter: brightness(1.1);
  height: 500px;
}
.character-content-div {
  margin-left: 100px;
  margin-bottom: 50px;
  z-index: 3;
}
.character-name {
  font-size: 50px;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 20px;
}
.character-script {
  font-size: 18px;
  color: white;
  line-height: 20px;
  margin-bottom: 0.5em;
}
.dash {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  position: absolute;
  bottom: 10px;
  left: 100px;
  height: 30px;
  z-index: 3;
}
.white-dash,
.grey-dash {
  padding: 2px 25px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-right: 30px;
}
.grey-dash {
  background-color: lightgrey;
}
.gradient {
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, #6d7c554b, #9ed9b12f, #4f8f6a3b);
  background-size: 300% 300%;
  animation: gradientMove 3s ease infinite;
  pointer-events: none;
  z-index: 2;
  border-radius: 35px 35px 0px 0px;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* information part */
.information-container {
  white-space: nowrap;
  max-width: 1262px;
  max-height: 518px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 20px;
  background-color: #ffffffc4;
  border-radius: 0 0 35px 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.information-head {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
}
.information-content {
  display: flex;
  gap: 200px;
}
.information-detail {
  max-width: 600px;
  padding: 16px;
}
.information-detail-title {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.information-detail-script-an {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin-left: 18px;
  border-left: 3px solid #78c788;
}
.information-detail-script-hao {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin-left: 18px;
  border-left: 3px solid #ff7b7b;
}
.information-detail-script-my {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin-left: 18px;
  border-left: 3px solid #d16aff;
}
.information-detail-script-trang {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin-left: 18px;
  border-left: 3px solid #e5c768;
}
.information-detail-script-tran {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding-left: 8px;
  margin-left: 18px;
  border-left: 3px solid #7a5aff;
}
