body {
  margin: 0;
  background: url(../photo/signup-background.jpg);
  font-family: Roboto, arial;
  padding-bottom: 3000px;
  padding-top: 67px;
  background: linear-gradient(123deg, rgb(228, 231, 229), #ffe6ef);
}
p {
  margin: 0;
}
main {
  max-width: 1262px;
  width: 100%;
  margin: 0 auto;
}

/*pháº§n navbar*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 50px;
  padding-right: 50px;
  white-space: nowrap;
  z-index: 1000;
  background: #25522e;
  transition: 0.3s ease;
}

.logo {
  width: 50px;
  border-radius: 50%;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar .option {
  text-decoration: none;
  font-weight: bold;
  color: #ede8ec;
  margin-right: 60px;
  transition: 0.3s ease;
}
.navbar .option:hover {
  color: #7fb591;
}
nav li {
  padding: 8px;
}

.search-div {
  display: flex;
  align-items: center;
}
.search-div input {
  padding: 8px 10px;
  border: none;
  border-radius: 20px 0 0 20px;
  outline: none;
}
.search-div button img {
  width: 22px;
  filter: invert(100%);
}
.search-div button {
  padding: 3.4px 12px;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #7fb591;
  cursor: pointer;
  transition: 0.3s ease;
}
.search-div button:hover {
  background-color: #66a87c;
}
.search-div button:active {
  background-color: #327438;
}
.gioi-thieu-nav {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: #ede8ec;
  transition: 0.2s ease;
}
.gioi-thieu-nav:hover .gioi-thieu-dropdown {
  opacity: 1;
  pointer-events: auto;
}
.gioi-thieu-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #44624a;
  border-radius: 8px;
  left: 0;
  top: 100%;
  opacity: 0;
  pointer-events: none;
}
.gioi-thieu-dropdown a {
  padding: 8px 16px;
  color: #cfcccf;
  white-space: nowrap;
  text-decoration: none;
}
.gioi-thieu-dropdown a:hover {
  background-color: #55775c;
  color: #000000;
}
.dropdown-one {
  border-radius: 8px 8px 0 0;
}
.dropdown-two {
  border-radius: 0 0 8px 8px;
}
/* check box */
/* From Uiverse.io by JkHuger */
#checklist {
  --background: #d9e0d8;
  --text: #414856;
  --check: #03800d;
  --disabled: #c3c8de;
  --border-radius: 30px;
  background: var(--background);
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
  padding: 30px;
  display: grid;
  grid-column: span 3;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  white-space: nowrap;
  min-width: 500px;
}
#checklist label {
  text-indent: 12px;
}

#checklist label {
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: fit-content;
  transition: color 0.3s ease;
  margin-right: 20px;
}

#checklist label::before,
#checklist label::after {
  content: "";
  position: absolute;
}

#checklist label::before {
  height: 2px;
  width: 8px;
  left: -27px;
  background: var(--check);
  border-radius: 2px;
  transition: background 0.3s ease;
}

#checklist label:after {
  height: 4px;
  width: 4px;
  top: 8px;
  left: -25px;
  border-radius: 50%;
}

#checklist input[type="checkbox"] {
  appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 15px;
  width: 15px;
  outline: none;
  border: 0;
  cursor: pointer;
  background: var(--background);
  display: grid;
  align-items: center;
  margin-right: 17px;
}

#checklist input[type="checkbox"]::before,
#checklist input[type="checkbox"]::after {
  content: "";
  position: absolute;
  height: 2px;
  top: auto;
  background: var(--check);
  border-radius: 2px;
}

#checklist input[type="checkbox"]::before {
  width: 0px;
  right: 60%;
  transform-origin: right bottom;
}

#checklist input[type="checkbox"]::after {
  width: 0px;
  left: 40%;
  transform-origin: left bottom;
}

#checklist input[type="checkbox"]:checked::before {
  animation: check-01 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked::after {
  animation: check-02 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label {
  color: var(--disabled);
  animation: move 0.3s ease 0.1s forwards;
}

#checklist input[type="checkbox"]:checked + label::before {
  background: var(--disabled);
  animation: slice 0.4s ease forwards;
}

#checklist input[type="checkbox"]:checked + label::after {
  animation: firework 0.5s ease forwards 0.1s;
}

@keyframes move {
  50% {
    padding-left: 8px;
    padding-right: 0px;
  }

  100% {
    padding-right: 4px;
  }
}

@keyframes slice {
  60% {
    width: 100%;
    left: 4px;
  }

  100% {
    width: 100%;
    left: -2px;
    padding-left: 0;
  }
}

@keyframes check-01 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(45deg);
  }

  100% {
    width: 5px;
    top: 8px;
    transform: rotate(45deg);
  }
}

@keyframes check-02 {
  0% {
    width: 4px;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0px;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0px;
    top: 8px;
    transform: rotate(-45deg);
  }

  100% {
    width: 10px;
    top: 8px;
    transform: rotate(-45deg);
  }
}

@keyframes firework {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0,
      0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0, 0 0 0 -2px #4f29f0;
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -15px 0 0px #4f29f0, 14px -8px 0 0px #4f29f0,
      14px 8px 0 0px #4f29f0, 0 15px 0 0px #4f29f0, -14px 8px 0 0px #4f29f0,
      -14px -8px 0 0px #4f29f0;
  }
}
#checklist h2 {
  grid-column: span 3;
  background: linear-gradient(
    90deg,
    rgba(47, 107, 63, 0.25),
    rgba(127, 181, 145, 0.25)
  );
  color: #2f6b3f;
  padding: 10px 14px;
  border-radius: 10px;
  margin: 0;
  margin-bottom: 15px;
}

#checklist div {
  display: flex;
  align-items: center;
}
hero {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 30px;
  background: url(../photo/signup-background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
}
hero img {
  height: 750px;
}
.form-general {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.form-general input,
.form-input-date {
  margin: 8px 0px;
}
.sign-up-area {
  background-color: rgba(255, 255, 255, 0.144);
  padding: 20px;
  border-radius: 30px;
  height: 750px;
  filter: blur(100%);
}
.sign-up-area h1 {
  color: white;
  font-size: 35px;
}
.form-input-name-password {
  color: white;
  grid-column: span 3;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}
.form-input-name-password::placeholder {
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.form-input-date {
  grid-column: span 1;
}
.form-input-date input {
  padding: 6px;
  border-radius: 10px;
}
.form-input-date label {
  color: white;
}

.form-input-sothich {
  grid-column: span 2;
  resize: none;
  height: 120px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}

.form-input-sothich:focus {
  background: rgba(255, 255, 255, 0.9);
  outline: none;
}
.form-input-talent {
  grid-column: span 1;
  resize: none;
  height: 120px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 10px;
}
.form-input-talent:focus {
  background: rgba(255, 255, 255, 0.9);
  outline: none;
}

/* From Uiverse.io by Gautammsharma */
.comic-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #34a4d1;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
  grid-column: span 3;
  margin-top: 10px;
}

.comic-button:hover {
  background-color: #fff;
  color: #ff5252;
  border: 2px solid #ff5252;
  box-shadow: 5px 5px 0px #ff5252;
}

.comic-button:active {
  background-color: #ffffff;
  box-shadow: none;
  transform: translateY(4px);
}
